.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .autumn {
  --main-heading: #5f99be;
  --para-clr: #fff;
  --btn-bg-color: #5f99be;
  --btn-text-clr: #fff;
  --bg-clr: #111b20;
  --primary: #a991f7;
  --accent: #37cdbe;
  --secondary: #f6d860;
  --neutral: #3d4451;
  --base-100: #ffffff;

  --rounded-box: 1rem;
  --rounded-btn: "0.5rem";
  --rounded-badge: "1.9rem";
  --animation-btn: "0.25s";
  --animation-input: "0.2s";
  --btn-text-case: "uppercase";
  --btn-focus-scale: "0.95";
  --border-btn: "1px";
  --tab-border: "1px";
  --tab-radius: "0.5rem";
} */
